.container{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.div-formulario{
    max-width: 330px;
    width: 100%;
    text-align: center;
}

.ancho{
    width: 80%;
}